// Color Variables
$primary-color: #48B9B2;
$secondary-color: #635E9A;
$text-color: #666666;
$text-color-dark: #444444;
$body-color: #fff;
$border-color: #ACB9C4;
$black: #000;
$white: #fff;
$light: #F8F8F8;

// Font Variables
$primary-font: 'azo-sans-web', 'Muli', sans-serif;
$icon-font: 'themify';
